#tooltip
{ 
	display:none; 
	position:absolute; 
	z-index:1000; 
	background-color:#000;
	color:#FFF; 
	padding:10px; 
	border:1px solid #161616;
	border-radius:5px;
	white-space:nowrap;
	overflow:auto;
}